$primaryColor: rgba(83, 233, 175, 0.534);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

@mixin middle {
    // max-width: 120rem;
    // padding: 0 6rem;
    padding: 0 6rem;
    margin: auto;

    @media (max-width:768px) {
        padding-left: 48px;
        padding-right: 48px;
    }

    @media (max-width:600px) {
        padding-left: 24px;
        padding-right: 24;
    }
}

header {
    position: fixed;
    width: 100%;
    padding: 1.5rem 0;
    box-shadow: 0 0 1rem rgb(0, 0, 0, 10%);

    nav {
        @include middle();
        display: flex;
        align-items: center;
        justify-content: space-between;

        .nav-logo {}

        .nav-right {
            display: flex;
            align-items: center;
            gap: 2rem;

            ul {
                display: flex;
                list-style: none;
                gap: 3rem;

                @media (max-width:768px) {
                    // visibility: collapse;
                    display: none;
                    flex-direction: column;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100vw;
                    height: 100vh;
                    background-color: antiquewhite;
                    align-items: center;
                    z-index: -1;
                    justify-content: center;
                }
            }

            .hamburger {
                display: none;
                cursor: pointer;

                @media (max-width:768px) {
                    display: inline-block;
                }

                div {
                    width: 25px;
                    height: 1px;
                    border-radius: 10px;
                    background-color: grey;
                    margin: 6px auto;
                }
            }

        }

    }
}

main {

    padding-top: 160px;

    .section1 {
        @include middle();
        height: 100vh;
    }

    .section2 {
        @include middle();
        height: 100vh;
        background-color: $primaryColor;
    }
}