@font-face {
  font-family: "Open Sans";
  font-weight: 300;
  src: url("@/static/fonts/OpenSans-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Open Sans";
  font-weight: normal;
  src: url("@/static/fonts/OpenSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Open Sans";
  font-weight: 800;
  src: url("@/static/fonts/OpenSans-ExtraBold.ttf") format("truetype");
}
/* @font-face {
  font-family: "Open Sans";
  src: url("@/static/fonts/OpenSans-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
} */

.font-light {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}
.font-normal {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
}
.font-bold {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
}

.font-extrabold {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  font-size: 55px;
}

@font-face {
  font-family: "Space Mono";
  src: url("@/static/fonts/SpaceMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.font-space-mono {
  font-family: "Space Mono", monospace;
  font-weight: normal;
  font-size: 17px;
}

/* Hide the default scrollbar */
::-webkit-scrollbar {
  width: 9px; /* Width of the scrollbar */
  background: #10a08a;
}

/* Track */
::-webkit-scrollbar-track {
  background: #10a08a; /* Color of the track */
  margin: 10px; /* Add margin between track and scrollbar */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #10a08a, #d1fffa, #10a08a);
  border-radius: 10px; /* Rounded corners */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to bottom, #10a08a, #99eab2, #10a08a);
}

.lowerCase {
  text-transform: lowercase;
}
.capitalize {
  text-transform: capitalize !important;
}

/* Global stylesheet or scoped style tag */
.page-popup-enter-active,
.page-popup-leave-active {
  /* transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55); */
  /* transition: transform 0.5s cubic-bezier(0.25, 1, 0.5, 1.2);  */
  transition: transform 0.5s cubic-bezier(0.25, 1, 0.3, 1.025); /* Adjust the values here */
}

.page-popup-enter,
.page-popup-leave-to {
  transform: translateY(100%);
}

.tes {
  background-color: #37ba935a;
}
