@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

.font-normal {
  font-family: "Open Sans", sans-serif;
  font-weight: 550;
}
.font-bold {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
}

.font-extrabold {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  font-size: 55px;
}

@font-face {
  font-family: "Space Mono";
  src: url("/fonts/SpaceMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.font-space-mono {
  font-family: "Space Mono", monospace;
  font-weight: normal;
  font-size: 17px;
}
